
.logo{

  height: 50px;
  width: 100px;
}
h1{
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 70vh;
}
.plans{
  background-color: grey;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  flex: 3;
  
  

}
.title{
  text-align: center;
  font-size: large;
  color: black;
}
.price{
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
}
.features{
  margin-bottom: 20px;
  list-style: none;
  
}

.click{
  background-color: blue;
  padding: 8px;
  border: 8px solid black;
  margin-top: 5px;
  text-align: center;
  

}
footer{
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  font-family: monospace;
}
@media (max-width: 480px){
  .container{
    flex-direction: column;
    height: 100%;
  }
}